---
import Navbar from '../components/Navbar';
import Footer from '../components/Footer.astro';
import '../components/CalorieCalc.css'
interface Props {
	title: string;
  metaName: string;
  metaContent: string;
}

const { title } = Astro.props;
const {metaName} = Astro.props;
const {metaContent} = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name={metaName} content={metaContent} />
	</head>
	<body>
		<Navbar client:load/>
		  <slot />  
    <Footer />
	</body>
</html>
<style is:global>
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

:root {
	--bg-color: 0 0% 0%;
	--accent-color: 189 86% 53%;
	--bg-contrast: 189, 86%, 98%;
}

body {
	background-color: hsl(var(--bg-color));
	color: hsl(var(--bg-contrast));
	font-family: "Poppins", sans-serif;
}



</style>
